
<!doctype html>
<html>
    <head>
        <!--add lib-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
		<script src="http://code.angularjs.org/1.5.3/angular-route.min.js"></script>

        <link   rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css"/>

        <script src="/static/bower_components/ng-file-upload/ng-file-upload.min.js"></script>
        <script src="/static/bower_components/ng-file-upload/ng-file-upload-shim.min.js"></script>
        <!--add js-->
        <script src="/static/js/app.js"></script>

        <!--add css-->
		<link rel="stylesheet" href="/static/css/style.css" />


        <!--model-->
        <script src="/static/js/item.js"></script>

        <!--controller-->
        <script src="/static/js/main.controller.js"></script>

    </head>


    <body ng-app="myApp">
        <div ng-view></div>
    </body>
</html>