<div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Dress Search
                    <small>@bagiks</small>
                </h1>
            </div>
        </div>

        <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-2">
                    <button class="btn btn-upload" ngf-select="uploadPic($file)" ng-model="picFile"
                         accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
                  Select Image</button>
                </div>

            </div>


            <div class="row" align="middle">
                <img ngf-thumbnail="picFile" class="input-image vcenter" >
            </div>
        </div>

        <div class="col-md-6">
            <!--<div class="row"> Category: {{items[0].category}}</div>-->
            <div class="row">
                <div class="search">
                    <input type="text" class="form-control input-sm" maxlength="64" />
                    <button type="submit" class="btn-search btn-primary btn-sm">Search</button>
                </div>
            </div>

            <div class="row">
                <div ng-repeat="item in items  | orderBy: 'score'" class="material-item" ng-class="{'selected': checkIndex($index)}" ng-click="selectItem($index)">

                    <div  class="col-md-8">
                        <p  style="float:left">{{item.name}}</p>
                    </div>

                    <div class="col-md-1">
                        <span style="float:left" class="glyphicon glyphicon-check" aria-hidden="true" ng-show="checkIndex($index)"></span>
                    </div>

                    <div style="float:left; width:auto;height:300px" class="col-md-1">
                        <img ng-src="{{item.url}}">
                    </div>

                </div>
            </div>

        </div>
    </div>


    </div>


</div>